

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.pp2{
  /*  background-color: greenyellow;*/
    margin-top: 20px;
}

.pp3{
    /*  background-color: greenyellow;*/
      margin-top: 20px;
  }
  
  
  /*=========================================================================*/
  
  .board_big1 {
       background-color: greenyellow;
	
}



